{% extends 'base.html.twig' %}

{% block title %}Wishlist{% endblock %}

{% block body %}
    <div class="py-12">
        <div class="hidden sm:flex flex-col justify-start items-start">
            <div class="pl-4 lg:px-10 2xl:px-20 flex flex-row justify-center items-end space-x-4">
                <h1 class="text-4xl font-semibold leading-9 text-gray-800  dark:text-white">Wishlist</h1>
                <p class="text-base leading-4 text-gray-600 dark:text-white pb-1">( {{wishlist.products|length}} Articles)</p>

            </div>
            <table class="w-full mt-16 whitespace-nowrap">
                <thead aria-label="table heading" class="w-full h-16 text-left py-6 bg-gray-50 border-gray-200 dark:bg-gray-800 border-b">
                <tr>
                    <th class="text-base font-medium leading-4 text-gray-600 dark:text-white 2xl:pl-20 pl-4 lg:pl-10">Articles</th>
                    <th class="text-base font-medium leading-4 text-gray-600 dark:text-white pl-6 lg:pl-20 2xl:pl-52">nom</th>
                    <th class="text-base font-medium leading-4 text-gray-600 dark:text-white pl-6 lg:pl-20 2xl:pl-52">prix</th>
                    <th class="text-base font-medium leading-4 text-gray-600 dark:text-white pl-6 lg:pl-20 2xl:pl-52">fiche produit</th>
                    <th class="text-base font-medium leading-4 text-gray-600 dark:text-white 2xl:pl-28 2xl:pr-20 pr-4 lg:pr-10"></th>
                </tr>
                </thead>
                {% for product in wishlist.products %}
                    <tbody class="w-full text-left">
                        <tr class="border-gray-200 border-b">
                            <th><img class="my-10 pl-4 lg:pl-10 2xl:pl-20" src="{{ vich_uploader_asset(product, 'imageFile') }}"/></th>
                            <th class="mt-10 text-base font-medium leading-4 text-gray-600 pl-6 lg:pl-20 2xl:pl-52">
                                <p class="text-base leading-4 text-gray-800 dark:text-white">{{product.name}}</p>
                            </th>
                            <th class="my-10 pl-6 lg:pl-20 2xl:pl-52">
                                <p class="dark:text-white">{{ product.prix }} €</p>
                            </th>
                            <th class="my-10 text-base font-medium leading-4 text-gray-600 pl-6 lg:pl-20 2xl:pl-52">
                                <a href="{{ path('collection.show', {'name': product.name})}}" class="hover:underline text-base font-medium leading-none text-gray-800 dark:text-white focus:outline-none focus:underline">voir</a>
                            </th>
                            <th class="my-10 pl-4 lg:pl-12 2xl:pl-28 pr-4 2xl:pr-20">
                                <a  href="{{path('wishlist.remove', {"name": product.name})}}" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-800 text-base leading-none text-red-600 hover:text-red-800"><p>Retirer de la wishlist</p></a>
                            </th>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
    </div>
{% endblock %}