{% extends 'base.html.twig' %}

{% block title %} Les articles {% endblock %}

{% block body %}

    <div class="container mt-4">
        <h2 class="mt-4 mb-4">Les articles</h2>
        {% if articles is not empty  %}
            <div class="count mt-4 mb-4">
                Il y a {{ articles.getTotalItemCount }} articles au total
            </div>
            <table class="table table-hover">
                <thead>
                <tr class="table-dark">
                    <th scope="col">ID</th>
                    <th scope="col">Nom de l'article</th>
                    <th scope="col">Marque</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Modifier</th>
                    <th scope="col">Supprimer</th>
                </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr class="table-primary">
                        <th scope="row">{{ article.id }}</th>
                        <th>{{ article.name }}</th>
                        <td>{{ article.marque }}</td>
                        <td>{{ article.prix }}$</td>
                        <td> <a href="#" class="btn btn-outline-success">Modifier</a> </td>
                        <td> <a href="#" class="btn btn-danger">Supprimer</a> </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation d-flex justify-content-center">
                {{ knp_pagination_render(articles) }}
            </div>
        {% else %}
        <div class="card text-white bg-warning mb-3 " style="max-width: 20rem;">
            <div class="card-header">Erreur</div>
            <div class="card-body">
                <h4 class="card-title">Pas d'articles en base de données </h4>
            </div>
        </div>
        {% endif %}
    </div>

{% endblock %}
