{% extends 'base.html.twig' %}

{% block title %} Les articles {% endblock %}

{% block body %}

<div class="flex justify-center items-center">
    <div class="container mt-4 mx-auto px-4">
        <h2 class="mt-4 mb-4 text-2xl font-bold">Les articles</h2>
        <div class="container mt-4">
            {% for message in app.flashes('success') %}
                <div class="bg-green-500 text-white px-4 py-2 rounded shadow mt-4">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% if articles is not empty %}
            <div class="count mt-4 mb-4">
                <p class="text-sm">Il y a {{ articles.getTotalItemCount }} articles au total</p>
                <a href="{{ path('articles.create') }}" class="inline-block bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition duration-300">Créer un nouvel article</a>
            </div>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 justify-center">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            ID
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Nom de l'article
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Marque
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Prix
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">modifier</span>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">supprimer</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in articles %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ article.id }}
                            </th>
                            <td class="px-6 py-4">
                                {{ article.name }}
                            </td>
                            <td class="px-6 py-4">
                                {{ article.marque }}
                            </td>
                            <td class="px-6 py-4">
                                {{ article.prix }}$
                            </td>
                            <td class="px-6 py-4 text-right">
                                <a href="{{ path('articles.update', {id : article.id}) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Modifier</a>
                            </td>
                            <td class="px-6 py-4 text-right">
                                <a href="{{ path('articles.delete', {id : article.id}) }}" class="font-medium text-red-600 dark:text-red-500 hover:underline">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="inline-flex items-center -space-x-px mt-4">
                    {{ knp_pagination_render(articles) }}
                </div>
            </div>
        {% else %}
            <div class="max-w-md mx-auto bg-yellow-500 text-white shadow-lg rounded-lg overflow-hidden">
                <div class="px-4 py-2">
                    <h1 class="font-semibold text-lg uppercase">Erreur</h1>
                </div>
                <div class="p-4">
                    <h4 class="font-semibold text-base">Pas d'articles en base de données</h4>
                </div>
            </div>
        {% endif %}
    </div>
</div>


{% endblock %}
