{% extends "base.html.twig" %}

{% block title  %}
    wetheold - Inscription
{% endblock %}

{% block body %}

    <div class="min-h-screen bg-gray-100 text-gray-900 flex justify-center ">
        <div
                class="max-w-screen-xl m-0 sm:m-20 bg-white shadow sm:rounded-lg flex justify-center flex-1">
            <div class="lg:w-1/2 xl:w-5/12 p-6 sm:p-12">
                <div>
                    <h4 class="w-32 mx-auto font-extrabold">Wetheold</h4>
                </div>
                {% for message in app.flashes('success') %}
                    <div class="p-4 mb-4 mt-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <span class="font-medium">{{ message }}!</span>
                    </div>
                {% endfor %}
                <div class="mt-12 flex flex-col items-center">
                    <h1 class="text-2xl xl:text-3xl font-extrabold">
                        créer un compte
                    </h1>
                    <div class="w-full flex-1 mt-8">
                        <div class="mx-auto max-w-xs">
                            {{ form_start(form) }}
                            {{ form_label(form.fullname) }}
                            {{ form_widget(form.fullname) }}
                            {{ form_label(form.pseudo) }}
                            {{ form_widget(form.pseudo) }}
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                            {{ form_widget(form.plainPassword) }}
                                <button class="mt-5 tracking-wide font-semibold bg-indigo-500 text-gray-100 w-full py-4 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none">
                                    <svg
                                            class="w-6 h-6 -ml-2"
                                            fill="none"
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                    >
                                        <path d="M16 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2" />
                                        <circle cx="8.5" cy="7" r="4" />
                                        <path d="M20 8v6M23 11h-6" />
                                    </svg>
                                    <span class="ml-3">S'inscrire</span>
                                </button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
